/* HEADER
---------------------------------------*/

.site-header {
	.custom-header {
		.site-branding {
			padding-top: 1.5em;
			padding-bottom: 1.5em;
		}
		.site-title {
			text-align: center;

			a {
				color: $color-blue;
			}
		}
		.site-description {
			display: none; // Used as browser title description.
			color: $color-blue;
			font-family: $font-secondary;
			font-size: .8em;
			line-height: 1.3;
			font-weight: 500;
			padding-top: .5em;
			margin: 0;
		}
	}
}

.home .site-header {
	.custom-header {
		.site-branding {
			padding-top: 2.5em;
			padding-bottom: 0;
		}
		.site-title {
			font-size: 3.815em;
			color: #fff;
		}
		.site-description {
			text-align: center;
			font-size: 1em;
		}
	}
}

@media screen and (min-width: 768px) {
	.site-header {
		.custom-header {
			.site-description {
				font-size: 1em;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.home .site-header {
		.custom-header {
			.site-branding {
				padding-top: 5em;
			}
			.site-description {
				font-size: 1.1em;
			}
		}
	}
}

@media screen and (min-width: 1600px) {
	.home .site-header {
		.custom-header {
			.site-branding {
				padding-top: 6em;
			}
		}
	}
}

@media screen and (min-width: 1920px) {
	.home .site-header {
		.custom-header {
			.site-branding {
				padding-top: 8em;
			}
		}
	}
}


.cta-button {
	border: 1px solid $color-red;
	display: table;
	margin: 30px auto;
	width: 700px;
	p, a {
		display: table-cell;
		margin: 0;
		padding: 10px 20px;
		font-size: 1.2em;
		vertical-align: middle;
	}
	a {
		background-color: $color-red;
		color: #FFF !important;
		font-size: 1.6em;
		text-transform: uppercase;
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {
	.cta-button {
		text-align: center;
		width: 80%;
		p, a {
			display: block;
		}
	}
}

/* WIDGETS
---------------------------------------*/
#header-widgets {
	.widget {
		text-align: center;
	}
}
