/* SESSION
---------------------------------------*/

.wcb_session {
    & #session-speaker-names,
    & #speaker-session-names {
        padding-left: 0;
    }
    .session-categories-links {
        font-size: medium;
    }
}


/*  THEME DEFAULT */

.session-date {
    background-color: $color-navy;
    border-radius: 15px;
    color: #FFF;
    font-size: 1.8em;
    padding: 5px;
    text-align: center;
}

.wcpt-schedule {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: -10rem;
    margin-right: -10rem;
    min-width: calc(100% + 20rem);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    th,
    td {
        padding: 1rem 1.5rem;
    }
    th {
        text-align: center;
        border-top: none;
        background-color: $color-red;
        color: $color-white;
    }
    td {
        border-top: 1px solid #d8d8d8;
        border-right: 1px solid #d8d8d8;
        border-bottom: 0 none;
    }
    .global-session {
        background-color: $color-white;
        .wcpt-session-title {
            color: #36393b;
            font-weight: bold;
            font-size: 1.125em;
            @include font-weight(medium);
            letter-spacing: 1px;
        }
        td {
            &:after {
                display: none;
            }
        }
    }
    .wcpt-time {
        background-color: #f8f8f8;
        text-align: center;
    }
    .wcpt-session-type-session {
        width: 25%;
    }
    @media screen and (max-width: 700px) {
        .wcpt-session-title {
            padding: 10px 0;
        }
        span.wcpt-session-speakers {
            padding-left: 0;
        }
    }
    /**
	 * WCASIA
	 **/
    .wcpt-col-time {
        width: 10%;
    }
    .wcpt-time {
        color: $color-grey;
    }
    .wcpt-session-empty {
        border-top: 0 none;
        @media screen and (max-width: 640px) {
            display: none;
        }
    }
    .wcb-session-cell-content a.wcpt-session-title {
        color: $color-red;
    }
    .wcb-session-cell-content .wcpt-session-speakers {
        color: $color-grey;
    }
    .wcb-session-favourite-icon .dashicons-star-filled {
        color: #a5a5a5;
    }
    #content & a.fav-session-button:active .dashicons-star-filled,
    #content & a.fav-session-button:focus .dashicons-star-filled,
    #content & a.fav-session-button:hover .dashicons-star-filled,
    div.wcb-session-favourite-icon a.fav-session-button:active .dashicons-star-filled,
    div.wcb-session-favourite-icon a.fav-session-button:focus .dashicons-star-filled,
    div.wcb-session-favourite-icon a.fav-session-button:hover .dashicons-star-filled {
        color: $color-grey;
    }
    .wcb-favourite-session .fav-session-button .dashicons-star-filled {
        color: $color-fave-on;
    }
    .wcb-favourite-session {
        background: $color-fave-off;
    }
    /* CATEGORIES */
    @media screen and (max-width: 640px) {
        td.wcpt-session-type-session:before {
            border: none;
            background: $color-red;
            color: white;
            border-radius: 0;
            content: attr(data-track-title);
            font-size: 100%;
            padding: .5rem .75rem;
            text-transform: capitalize;
            margin: -1rem -1.5rem .5rem;
            display: block;
        }
        td.wcpt-session-type-session:after {
            display: inline-block;
            padding: .0625rem .375rem;
            bottom: 1rem;
            font-size: .7em;
            line-height: 1.25em;
            text-transform: uppercase;
            font-weight: 700;
            color: rgba(0, 0, 0, .9);
            border-radius: .1875rem;
            background: $color-white;
            margin: 20px 5px 0 0;
            letter-spacing: 1px;
        }
    }
    .wcpt-session-type-session:before {
        display: inline-block;
        padding: .0625rem .375rem;
        bottom: 1rem;
        font-size: .7em;
        line-height: 1.25em;
        text-transform: uppercase;
        font-weight: 700;
        color: rgba(0, 0, 0, .9);
        border-radius: .1875rem;
        background: $color-white;
        margin-bottom: 5px;
        letter-spacing: 1px;
    }
    .wcb-session-category-development:before,
    .wcb-session-category-development:after {
        content: "Development";
    }
    .wcb-session-category-content:before,
    .wcb-session-category-content:after {
        content: "Content";
    }
    .wcb-session-category-community:before,
    .wcb-session-category-community:after {
        content: "Community";
    }
    .wcb-session-category-design-alt:before,
    .wcb-session-category-design-alt:after {
        content: "Design";
    }
    .wcb-session-category-business:before,
    .wcb-session-category-business:after {
        content: "Business";
    }
    .wcb-session-category-panel-discussion:before,
    .wcb-session-category-panel-discussion:after {
        content: "Panel Discussion";
    }
    .wcb-session-category-thai-talks:before,
    .wcb-session-category-thai-talks:after {
        content: "Thai";
    }
    @media screen and (min-width: 641px) {
        .wcb-session-category-development:after,
        .wcb-session-category-content:after,
        .wcb-session-category-community:after,
        .wcb-session-category-business:after,
        .wcb-session-category-thai-talks:after {
            content: "";
        }
    }
}

.page-slug-contributor-day {
    .wcpt-col-time {
        width: 10%;
    }
}

.wcb-session-cell-content {
    .wcpt-session-speakers {
        color: $color-blue;
        display: block;
        font-size: 0.875em;
        padding-top: 10px;
        a {
            color: $color-blue;
            text-decoration: underline;
        }
    }
}

.dashicons-star-filled {
    color: #eee;
    .global-session & {
        display: none;
    }
}

.wcb-session-cell-content {
    line-height: 1.3;
    .wcpt-session-title {
        color: $color-navy;
    }
    a.wcpt-session-title {
        color: $color-navy;
        &:hover {
            color: $color-red;
        }
    }
    .global-session & {
        text-align: center;
    }
}

.wcb-favourite-session {
    .dashicons-star-filled {
        color: $color-rose-pink;
    }
    a.wcpt-session-title {
        color: $color-rose-pink;
    }
}

.wcpt-schedule .wcb-session-category-design-alt:after,
.wcpt-schedule .wcb-session-category-design-alt:before,
.wcpt-schedule .wcb-session-category-panel-discussion:after,
.wcpt-schedule .wcb-session-category-panel-discussion:before,
.wcpt-schedule .wcb-session-category-development:after,
.wcpt-schedule .wcb-session-category-development:before,
.wcpt-schedule .wcb-session-category-community:after,
.wcpt-schedule .wcb-session-category-community:before,
.wcpt-schedule .wcb-session-category-thai-talks:after,
.wcpt-schedule .wcb-session-category-thai-talks:before {
    display: inline-block;
    padding: .0625rem .375rem;
    bottom: 1rem;
    font-size: .7em;
    line-height: 1.25em;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0, 0, 0, .9);
    border-radius: .1875rem;
    background: #fff;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

@media only screen and (max-width: 700px) {
    .wcpt-schedule {
        margin-left: 0;
        margin-right: 0;
        min-width: 100%;
        tr {
            border: 1px solid #EEE;
        }
        td {
            border-bottom: none;
            &::after {
                display: none;
            }
        }
        .wcpt-session-type-session {
            margin-bottom: 10px;
            width: auto;
        }
        .global-session td {
            padding: 5px;
        }
    }
    .wcb-session-cell-content .wcpt-session-speakers {
        padding-top: 0;
    }
}

@media screen and (min-width: 701px) and (max-width: 960px) {
    .wcpt-schedule {
        margin-left: -30px;
        margin-right: -30px;
        min-width: calc(100% + 60px);
        max-width: 100vw;
        width: 100%
    }
}