// /* SPONSORS
// ---------------------------------------*/
.wordcamp-sponsors {
    &.wordcamp-block.wordcamp-post-list {
        margin-bottom: 90px;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        @media screen and (min-width: 1024px) {
            & {
                margin-left: -10rem;
                margin-right: -10rem;
            }
        }
    }
    .wordcamp-post-list__post {
        overflow: hidden;
        min-width: 0;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding: 30px 20px;
        background-color: $color-white;
        .slug-plesk,
        .slug-paypal {
            img.wordcamp-image__featured-image {
                max-width: 60%;
                margin: auto;
            }
        }
        @media screen and (max-width: 360px) {
            margin: 0 0 1em 0;
        }
    }
    &.has-layout-list.has-grid-column-3 .wordcamp-post-list__post {
        width: 47%;
        margin: auto;
        @media screen and (min-width: 1024px) {
            width: 33.33%;
        }
    }
    img.wordcamp-image__featured-image.wp-post-image {
        margin: 0;
    }
    @media screen and (min-width: 768px) {
        &.wordcamp-block.wordcamp-post-list.has-grid-columns-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.wordcamp-block.wordcamp-post-list.has-grid-columns-6 {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}

h2.wordcamp-post-heading {
    padding: 10px 20px;
    color: $color-red-alt;
    font-size: 1.563rem;
    border-radius: 5px;
    text-align: center;
    margin: 50px 0;
    letter-spacing: 2px;
    position: relative;
    width: 100%;
}

.wcb_widget_sponsors {
    text-align: center;
    h2 {
        font-size: 1.25em;
        margin-bottom: 2rem;
    }
    .sponsor-logo {
        display: inline-block !important;
        margin: 0 auto;
        padding-bottom: 0;
        img {
            margin-bottom: 0;
        }
    }
}

.sponsor-slot {
    border: 4px solid #e63331;
    padding: 15px;
    display: inline-block;
    color: #e63331;
}

.sponsor-level {
    margin-bottom: 1.5rem;
}

// Sponsors grid layout 
.entry-content {
    .wcorg-sponsors {
        h2 {
            padding: 10px 20px;
            color: $color-red-alt;
            font-size: 1.563rem;
            border-radius: 5px;
            text-align: center;
            margin: 50px 1.5rem;
            letter-spacing: 2px;
            position: relative;
            width: 100%;
            &:before,
            &:after {
                background: $color-red-alt;
                content: "";
                height: 2px;
                margin-top: -1px;
                position: absolute;
                top: 50%;
                width: calc( 50% - 4rem);
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }
        .wcorg-sponsor-level-siam {
            h2 {
                margin-top: 0;
            }
            .wcorg-sponsor {
                min-height: 168px;
            }
        }
        .wcorg-sponsor-level-siam,
        .wcorg-sponsor-level-silom,
        .wcorg-sponsor-level-asok,
        .wcorg-sponsor-level-ari,
        .wcorg-sponsor-level-nana,
        .wcorg-sponsor-level-after-party,
        .wcorg-sponsor-level-coffee-break {
            display: flex;
            flex-flow: row wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            .wcorg-sponsor {}
            @media screen and (max-width: 460px) {
                margin: 0;
                display: block;
            }
        }
        .wcorg-sponsor {
            width: calc(100% / 2 - 30px);
            margin-bottom: 0;
            margin-top: 0;
            padding: 12px 16px;
            height: 240px;
            display: flex;
            align-items: center;
            @media screen and (max-width: 460px) {
                width: 100%;
                margin-left: 0;
                height: auto;
            }
            h3 {
                display: none;
            }
            .wcorg-sponsor-description {
                display: block;
                margin: 0 auto;
            }
            img {
                margin: 0 auto;
            }
            .wp-block-image {
                display: none;
            }
        }
        .wcorg-sponsor-level-silom {
            display: flex;
            flex-flow: row wrap;
            .wcorg-sponsor {
                width: calc(100%/2 - 7.5px);
                height: auto;
                margin-right: 15px;
                &:nth-of-type(2n) {
                    margin-right: 0;
                }
            }
        }
        .wcorg-sponsor-level-asok,
        .wcorg-sponsor-level-ari,
        .wcorg-sponsor-level-nana,
        .wcorg-sponsor-level-after-party,
        .wcorg-sponsor-level-coffee-break {
            display: flex;
            flex-flow: row wrap;
            .wcorg-sponsor {
                width: calc(100%/3);
                margin-left: 0;
                height: auto;
                ;
                &:nth-child(3n+1) {
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .entry-content .wcorg-sponsors .wcorg-sponsor {}
    .entry-content .wcorg-sponsors {
        .wcorg-sponsor-level-siam {
            .wcorg-sponsor {
                height: 240px;
                margin-right: 30px;
                width: calc(100% / 2);
                &:nth-child(odd) {
                    margin-right: 0;
                }
            }
        }
        .wcorg-sponsor-level-silom {
            .wcorg-sponsor {
                width: calc(100% / 3);
                margin-right: 30px;
                min-height: 168px;
                &:nth-child(odd) {
                    margin-right: 30px;
                }
                &:nth-child(3n+1) {
                    margin-right: 0;
                }
            }
        }
        .wcorg-sponsor-level-asok {
            .wcorg-sponsor {
                width: calc(100% / 4);
                min-height: 120px;
                &:nth-child(3n+1) {
                    margin-right: 0;
                }
                &:nth-child(4n+1) {
                    margin-right: 0;
                }
            }
        }
        .wcorg-sponsor-level-ari {
            .wcorg-sponsor {
                width: calc(100% / 5);
                min-height: 96px;
                &:nth-child(3n+1) {
                    margin-right: 0;
                }
                &:nth-child(5n+1) {
                    margin-right: 0;
                }
            }
        }
        .wcorg-sponsor-level-nana,
        .wcorg-sponsor-level-after-party,
        .wcorg-sponsor-level-coffee-break {
            .wcorg-sponsor {
                width: calc(100% / 6);
                min-height: 72px;
                &:nth-child(3n+1) {
                    margin-right: 20px;
                }
                &:nth-child(6n+1) {
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {}

.wcb_sponsor {
    .entry-header .entry-image {
        display: none;
    }
    .wp-block-image.alignfull {
        background: white;
        padding: 5.5rem 2.5rem;
        img {
            width: 100%;
            max-width: 40rem;
            margin: 0 auto;
        }
    }
}