/* VARIABLES
---------------------------------------*/

// Font
$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Roboto Slab', serif;


// Font Weight
$font-weight: (
	thin: 				100,
	extra-light: 		200,
	light: 				300,
	regular: 			400,
	medium: 			500,
	semi-bold: 			600,
	bold: 				700,
	extra-bold: 		800,
	black: 				900
);

// Color
$color-red: 			#0D5ABC;
$color-rose-pink: 		#0D5ABC;
$color-yellow: 			#edb959;
$color-navy: 			#104b8c;
$color-blue:			#0D5ABC;

$color-orange:			#d97b2d;
$color-cream:			#0D5ABC;
$color-dark-red:		#8a3b33;
$color-green:			#2b5c4e;

$color-white: 			#fff;
$heading-color:			$color-rose-pink;
$text-color:			$color-navy;






