/* TICKETS
---------------------------------------*/

#tix {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	h2 {
		font-size: 1.563em;
	}
}
.tix-error {
	background-color: $color-red;
	border-color: $color-red;
	color: $color-white;
	padding: 1rem 1.5rem;
}

.tix_tickets_table {
	box-shadow: 0 20px 40px rgba(0,0,0,0.1);
	// border: 1px solid $color-rose-pink;
	th {
		background-color: $color-blue;
		color: $color-white;
		font-size: .9375rem;
		@include font-weight(regular);
	}
	th {
		padding: 1rem 1.5rem;
	}
	td {
		padding: 1.5rem;
		border-top: 1px dashed #ddd;
	}
}

.tix-ticket-title {
	display: inline-block;
	font-size: 1.25em;
	margin-bottom: .75rem;
}

.tix-ticket-excerpt {
	color: $color-blue;
}

.tix-column-price, .tix-column-remaining, .tix-column-quantity, .tix-column-per-ticket {
	color: $color-navy;
	font-size: 1em;
	@include font-weight(medium);
	text-align: center;
}

.tix-column-price {
	@include font-weight(semi-bold);
}

.tix-column-remaining {
	color: $color-blue;
}

.tix-row-coupon, .tix-row-total {
	td {
		background: #f8f8f8;
	}
}

#tix p:last-child {
	text-align: right;
}

#tix input[type="submit"] {
	float: none !important;
	display: inline-block;
	font-size: 1.125em;
}

.tix-attendee-form {
	td {
		border-top: 1px solid #f2f2f2;
		select {
			width: 80%;
		}
		input[type="text"] {
			width: 100%;
		}
	}
	.tix-row-first-name {
		td {
			border-top: none;
		}
	}
}

.tix-row-total {
	td {
		font-size: 1.25em;
		text-align: center;
		strong {
			color: $color-navy;
		}
	}
}

.tix-submit {
	float: none !important;
	text-align: center;
	select {
		width: 150px;
	}
}

.tix-payment-method {
	.tix-payment-tab {
		display: inline-block;
		width: auto;
		float: none;
		font-family: $font-secondary;
		font-weight: 500;
		color: $color-navy;
		border-bottom: none;
		&.tix-tab-selected {
			border-bottom: 2px solid $color-red;
			padding-bottom: 8px;
			font-weight: 700;
		}
	}		
}

#tix .tix-submit .tix-checkout-button {
	border-radius: 0;
	padding: 1rem 2rem;
	float: none;
	margin-top: 1.5rem;
	margin-left: auto;
}


@media only screen and (max-width: 767px) {

	.tix_tickets_table {
		th, td {
			display: block;
			padding: 1.5rem;
		}
	}

	.tix-row-total {
		td {
			padding-top: 0;
		}
	}

	.tix-column-description {
		text-align: center;
		.tix-order-summary & {
			width: auto;
		}
	}

	td.tix-column-price, td.tix-column-remaining, td.tix-column-quantity, td.tix-column-per-ticket {
		border-top: none;
		border-left: none;
	}

	th.tix-column-description, th.tix-column-price, th.tix-column-remaining, th.tix-column-quantity, th.tix-column-per-ticket {
		display: none;
	}

	td.tix-column-price {
		font-size: 1.25em;
		padding-top: .5rem;
		padding-bottom: .5rem;
		color: $color-red;
		:before {
			content: "Price : ";
		}
	}

	td.tix-column-remaining {
		padding-top: 0;
		padding-bottom: 0;
	}
	td.tix-column-remaining:before {
		content: "Remaining : ";
	}

	td.tix-column-quantity {
		padding-bottom: 2.5rem;
		&::before {
			content: "Quantity : ";
			display: inline-block;
		}
		select {
			width: auto;
		}
	}

	.tix-order-summary {
		td.tix-column-description strong {
			font-size: 1.25em;
		}
		td.tix-column-per-ticket {
			padding-bottom: .5rem;
		}
		td.tix-column-quantity {
			padding-top: .5rem;
			padding-bottom: .5rem;
			&::before {
				display: inline;
			}
		}
		td.tix-column-price {
			color: $color-navy;
		}
		.tix-row-total td strong {
			color: $color-red;
		}
	}

	td.tix-column-per-ticket::before {
		content: "Per Ticket : ";
	}

	#tix-coupon-input {
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 80%;
	}

	.tix-row-total {
		td {
			border-top: none;
		}
	}

	.tix-ticket-form td.tix-left, .tix-private-form td.tix-left, .tix-attendee-form td.tix-left, .tix-receipt-form td.tix-left {
		width: auto;
	}

	.tix-ticket-form td.tix-right, .tix-private-form td.tix-right, .tix-attendee-form td.tix-right, .tix-receipt-form td.tix-right {
		border: none;
		padding-top: 0;
		width: auto;
	}

	.tix-submit {
		select {
			display: block;
			margin: 0 auto;
			width: 170px;
		}
	}

	.tix-attendee-form {
		tr {
			td.tix-right, td.tix-left {
				text-align: left;
			}
		}
	}

}

