/* VARIABLES
---------------------------------------*/

// Font
$font-primary: "Chonburi", cursive;
$font-secondary: "Bai Jamjuree", Helvetica, Arial, sans-serif;


// Font Weight
$font-weight: (
	thin: 				100,
	extra-light: 		200,
	light: 				300,
	regular: 			400,
	medium: 			500,
	semi-bold: 			600,
	bold: 				700,
	extra-bold: 		800,
	black: 				900
);

// Color
$color-red: 			#d43e38;
$color-rose-pink: 		#ea8c70;
$color-yellow: 			#edb959;
$color-navy: 			#104b8c;
$color-blue:			#2d7c9f;

$color-orange:			#d97b2d;
$color-cream:			#f9cf9f;
$color-dark-red:		#8a3b33;
$color-green:			#2b5c4e;

$color-white: 			#fff;
$heading-color:			$color-rose-pink;
$text-color:			$color-navy;






